doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")
		title Juego
		link(href="css/style.css" rel="stylesheet")
	body
		div#wrapper
			img(src="img/intro1.png", alt="intro", id="barra")
			img(src="img/intro2.png", alt="intro", id="circulo")
			p#arkanoid ARKANOID
		p#Start Press to Start
		div#Scores 
			div#controles.inline.treinta
				span.icon-soundoff.datos.hide
				span.icon-sound-alt.datos
			div#velocidad.inline.treinta
				p Speed
				p#speed.datos 1 x
			div#vidas.inline.treinta
				p 
				p#LeftVidas.datos
		script(src="scripts/code.js")
		
