doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width")
		title Juego
		link(href="css/style.css" rel="stylesheet")
		script(src="scripts/code.js")
	body
		
